# Use SUPER_ANNU_Template customized Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
table_name = 'MEMBER_FUNDS_ENRICHED_DETAILS'
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [4]:
df.shape

(335999, 50)

In [5]:
df.head(20)

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
0,MID233585,Viola Nabours,Edith Cowan University,Male,Adelaide,South Australia,Y,FID000117,HIGH TRANSACTION FEE,-34.9275,...,36,Middle-aged,29,MORE_THAN_10_YEAR,2,1.0,1988-06-21,2001-03-26,2008-07-03,2053-06-21
1,MID234174,James Gillian,La Trobe University,Male,Sydney,New South Wales,N,FID000074,NO REASON IDENTIFIED,-33.8678,...,42,Middle-aged,23,MORE_THAN_10_YEAR,2,1.0,1982-09-30,2002-09-05,2008-07-09,2047-09-30
2,MID233455,Rima Jacobos,The University of Notre Dame Australia,Male,Esperance,Western Australia,N,FID000124,NO REASON IDENTIFIED,-33.8611,...,49,Middle-aged,16,MORE_THAN_10_YEAR,3,2.0,1975-06-10,2004-07-02,2009-12-12,2040-06-10
3,MID233456,Cammy Semidey,James Cook University,Male,Goonellabah,New South Wales,Y,FID000101,HIGH ACCOUNT FEE,-28.8167,...,43,Middle-aged,22,MORE_THAN_10_YEAR,2,1.0,1981-01-31,2002-06-08,2007-04-23,2046-01-31
4,MID233462,Elouise Kolmetz,University of Southern Queensland,Male,Albury,New South Wales,Y,FID000186,FUND REPUTATION DECLINING,-36.0806,...,39,Middle-aged,26,MORE_THAN_10_YEAR,2,1.0,1985-07-06,2002-09-12,2008-12-14,2050-07-06
5,MID233467,Antione Miceli,Bond University,Male,Pearcedale,Victoria,Y,FID000024,NO REASON IDENTIFIED,-38.2030,...,41,Middle-aged,24,MORE_THAN_10_YEAR,2,1.0,1983-06-08,2004-01-20,2008-04-14,2048-06-08
6,MID233470,Franklyn Montezuma,The University of Western Australia,Male,San Remo,Victoria,Y,FID000067,HIGH ACCOUNT FEE,-38.5167,...,35,Middle-aged,30,MORE_THAN_10_YEAR,3,2.0,1989-04-13,2002-06-08,2009-05-17,2054-04-13
7,MID233472,Lashaunda Claucherty,The University of Newcastle,Male,Maryborough,Victoria,Y,FID000019,FUND REPUTATION DECLINING,-37.0500,...,48,Middle-aged,17,MORE_THAN_10_YEAR,2,1.0,1976-07-17,2003-12-06,2009-12-13,2041-07-17
8,MID233475,Tegan Bachman,Flinders University,Male,Tahmoor,New South Wales,Y,FID000040,LIFE EVENT,-34.2242,...,45,Middle-aged,20,MORE_THAN_10_YEAR,2,1.0,1979-04-30,2003-08-26,2006-09-24,2044-04-30
9,MID233477,Jess Claucherty,The University of Queensland,Male,Katoomba,New South Wales,N,FID000025,FUND REPUTATION DECLINING,-33.7100,...,31,Middle-aged,34,MORE_THAN_10_YEAR,2,1.0,1993-10-04,2004-10-14,2008-07-07,2058-10-04
10,MID233483,Yuki Chickering,University of Technology Sydney,Male,Young,New South Wales,N,FID000119,FUND REPUTATION DECLINING,-34.3000,...,26,Young,39,MORE_THAN_10_YEAR,2,1.0,1998-08-21,2003-12-27,2008-06-28,2063-08-21
11,MID233486,Leota Butzen,Monash University,Male,Kyabram,Victoria,N,FID000067,HIGH ACCOUNT FEE,-36.3167,...,44,Middle-aged,21,MORE_THAN_10_YEAR,2,1.0,1980-06-27,2002-07-03,2008-11-23,2045-06-27
12,MID233490,Bulah Inouye,The University of Western Australia,Male,Clifton Springs,Victoria,Y,FID000134,NO REASON IDENTIFIED,-38.1500,...,52,Senior,13,MORE_THAN_10_YEAR,2,1.0,1972-06-14,2003-05-27,2006-10-28,2037-06-14
13,MID233500,Junita Iturbide,Avondale University,Male,Dandenong,Victoria,Y,FID000020,HIGH TRANSACTION FEE,-37.9810,...,35,Middle-aged,30,MORE_THAN_10_YEAR,3,2.0,1989-11-14,2005-02-24,2007-02-24,2054-11-14
14,MID233501,Taryn Bilden,Monash University,Male,Corowa,New South Wales,N,FID000112,FUND REPUTATION DECLINING,-35.9833,...,49,Middle-aged,16,MORE_THAN_10_YEAR,2,1.0,1975-05-09,2005-08-03,2006-02-20,2040-05-09
15,MID233502,Devorah Kohl,Victoria University,Male,Deloraine,Tasmania,N,FID000137,HIGH TRANSACTION FEE,-41.5333,...,33,Middle-aged,32,MORE_THAN_10_YEAR,2,1.0,1991-03-17,2001-07-22,2007-05-21,2056-03-17
16,MID233503,Portia Fredicks,Avondale University,Male,Penrith,New South Wales,Y,FID000120,FUND REPUTATION DECLINING,-33.7511,...,44,Middle-aged,21,MORE_THAN_10_YEAR,3,2.0,1980-02-25,2000-10-08,2008-11-04,2045-02-25
17,MID233505,Joseph Timenez,Edith Cowan University,Male,Numurkah,Victoria,N,FID000109,FUND REPUTATION DECLINING,-36.0833,...,27,Young,38,MORE_THAN_10_YEAR,3,2.0,1997-03-29,2004-07-27,2008-10-29,2062-03-29
18,MID233509,Salome Hirpara,Monash University,Male,Narooma,New South Wales,N,FID000118,HIGH TRANSACTION FEE,-36.2000,...,46,Middle-aged,19,MORE_THAN_10_YEAR,2,1.0,1978-06-21,2002-07-21,2010-01-17,2043-06-21
19,MID233510,Ettie Pinilla,Bond University,Male,Central Coast,New South Wales,N,FID000152,NO REASON IDENTIFIED,-33.3000,...,50,Senior,15,MORE_THAN_10_YEAR,2,1.0,1974-07-22,2003-08-08,2007-12-24,2039-07-22

In [6]:
no_investments = dict(df.groupby("MEMBER_ID")["MEMBER_ID"].count())

In [7]:
import matplotlib.pyplot as plt
import numpy as np

In [9]:
list(no_investments.values()).count(1)

160656

In [10]:
df.columns

Index(['MEMBER_ID', 'MEMBER_NAME', 'MEMBER_EMPLOYMENT', 'MEMBER_GENDER',
       'MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED',
       'FUND_ID', 'CHURN_REASON', 'LATITUDE', 'LONGITUDE', 'COUNTRY',
       'COUNTRYCODE', 'CAPITAL', 'POPULATION', 'FUND_TOTAL_ASSETS',
       'FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION',
       'FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION',
       'PROPERTY_BENCHMARK_ALLOCATION', 'INFRA_BENCHMARK_ALLOCATION',
       'COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION',
       'FUND_RISK_LEVEL', 'FUND_RISK_CATEGORY',
       'NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS',
       'YEAR_5_RETURNS', 'YEAR_7_RETURNS', 'YEAR_10_RETURNS', 'SUPER_FEES',
       'PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE', 'INVESTMENT_AGE_GROUP',
       'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED',
       'NO_OF_CHURN', 'MEMBER_DOB_DT', 'ALLOCATION_DT', 'CHURN_DT',
       'RETIREMENT_DT'],
      dtype='object')

In [11]:
df.iloc[0]

MEMBER_ID                                                        MID233585
MEMBER_NAME                                                  Viola Nabours
MEMBER_EMPLOYMENT                                   Edith Cowan University
MEMBER_GENDER                                                         Male
MEMBER_CITY_TOWN                                                  Adelaide
MEMBER_STATE                                               South Australia
MEMBER_CONTACT_VERIFIED                                                  Y
FUND_ID                                                          FID000117
CHURN_REASON                                          HIGH TRANSACTION FEE
LATITUDE                                                          -34.9275
LONGITUDE                                                            138.6
COUNTRY                                                          Australia
COUNTRYCODE                                                             AU
CAPITAL                                                              admin
POPULATION                                                         1295714
FUND_TOTAL_ASSETS                                                 126670.6
FUND_RETURN_TARGET_PERCENTAGE                                     4.158824
INVESTMENT_RISK_LEVEL                                                  3.9
INVESTMENT_RISK_CATEGORY                                       Medium-High
CASH_BENCHMARK_ALLOCATION                                              3.0
FIXED_INCOME_BENCHMARK_ALLOCATION                                     13.0
DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION                        27.1875
INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION                   26.8125
UNLISTED_EQUITY_BENCHMARK_ALLOCATION                                   3.0
EQUITY_BENCHMARK_ALLOCATION                                            0.0
PROPERTY_BENCHMARK_ALLOCATION                                          8.0
INFRA_BENCHMARK_ALLOCATION                                             6.0
COMMODITIES_BENCHMARK_ALLOCATION                                       0.0
OTHERS_BENCHMARK_ALLOCATION                                           13.0
FUND_RISK_LEVEL                                                        3.9
FUND_RISK_CATEGORY                                             Medium-High
NEG_NETRETURN_SINCE_INCEPTION                                       2 to 3
YEAR_1_RETURNS                                                        6.64
YEAR_3_RETURNS                                                        4.62
YEAR_5_RETURNS                                                        4.14
YEAR_7_RETURNS                                                        5.21
YEAR_10_RETURNS                                                       5.44
SUPER_FEES                                                            0.53
PENSION_FEES                                                          0.41
CHURN_FLAG                                                               Y
MEMBER_AGE                                                              36
INVESTMENT_AGE_GROUP                                           Middle-aged
RETIREMENT_AGE                                                          29
RETIREMENT_AGE_GROUP                                     MORE_THAN_10_YEAR
TOTAL_FUNDS_INVESTED                                                     2
NO_OF_CHURN                                                            1.0
MEMBER_DOB_DT                                                   1988-06-21
ALLOCATION_DT                                                   2001-03-26
CHURN_DT                                                        2008-07-03
RETIREMENT_DT                                                   2053-06-21
Name: 0, dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335999 entries, 0 to 335998
Data columns (total 50 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   MEMBER_ID                                         335999 non-null  object
 1   MEMBER_NAME                                       335999 non-null  object
 2   MEMBER_EMPLOYMENT                                 335999 non-null  object
 3   MEMBER_GENDER                                     335999 non-null  object
 4   MEMBER_CITY_TOWN                                  335999 non-null  object
 5   MEMBER_STATE                                      335999 non-null  object
 6   MEMBER_CONTACT_VERIFIED                           335999 non-null  object
 7   FUND_ID                                           335999 non-null  object
 8   CHURN_REASON                                      335999 non-null  object
 9   LATITUDE                                          335999 non-null  float64
 10  LONGITUDE                                         335999 non-null  float64
 11  COUNTRY                                           335999 non-null  object
 12  COUNTRYCODE                                       335999 non-null  object
 13  CAPITAL                                           335999 non-null  object
 14  POPULATION                                        335999 non-null  int32
 15  FUND_TOTAL_ASSETS                                 335999 non-null  float64
 16  FUND_RETURN_TARGET_PERCENTAGE                     335999 non-null  float64
 17  INVESTMENT_RISK_LEVEL                             335999 non-null  float64
 18  INVESTMENT_RISK_CATEGORY                          335999 non-null  object
 19  CASH_BENCHMARK_ALLOCATION                         335999 non-null  float64
 20  FIXED_INCOME_BENCHMARK_ALLOCATION                 335999 non-null  float64
 21  DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION       335999 non-null  float64
 22  INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION  335999 non-null  float64
 23  UNLISTED_EQUITY_BENCHMARK_ALLOCATION              335999 non-null  float64
 24  EQUITY_BENCHMARK_ALLOCATION                       335999 non-null  float64
 25  PROPERTY_BENCHMARK_ALLOCATION                     335999 non-null  float64
 26  INFRA_BENCHMARK_ALLOCATION                        335999 non-null  float64
 27  COMMODITIES_BENCHMARK_ALLOCATION                  335999 non-null  float64
 28  OTHERS_BENCHMARK_ALLOCATION                       335999 non-null  float64
 29  FUND_RISK_LEVEL                                   335999 non-null  float64
 30  FUND_RISK_CATEGORY                                335999 non-null  object
 31  NEG_NETRETURN_SINCE_INCEPTION                     335999 non-null  object
 32  YEAR_1_RETURNS                                    335999 non-null  float64
 33  YEAR_3_RETURNS                                    335999 non-null  float64
 34  YEAR_5_RETURNS                                    335999 non-null  float64
 35  YEAR_7_RETURNS                                    335999 non-null  float64
 36  YEAR_10_RETURNS                                   335999 non-null  float64
 37  SUPER_FEES                                        335999 non-null  float64
 38  PENSION_FEES                                      335999 non-null  float64
 39  CHURN_FLAG                                        335999 non-null  object
 40  MEMBER_AGE                                        335999 non-null  int8
 41  INVESTMENT_AGE_GROUP                              335999 non-null  object
 42  RETIREMENT_AGE                                    335999 non-null  int8
 43  RETIREMENT_AGE_GROUP                              335999 non-null  object
 44  TOTAL_FUNDS_INVESTED                              335999 non-null  int8
 45  NO_OF_CHURN                                       173283 non-null  float64
 46  MEMBER_DOB_DT                                     335999 non-null  object
 47  ALLOCATION_DT                                     335999 non-null  object
 48  CHURN_DT                                          335999 non-null  object
 49  RETIREMENT_DT                                     335999 non-null  object
dtypes: float64(24), int32(1), int8(3), object(22)
memory usage: 120.2+ MB

In [14]:
df.describe()

,LATITUDE,LONGITUDE,POPULATION,FUND_TOTAL_ASSETS,FUND_RETURN_TARGET_PERCENTAGE,INVESTMENT_RISK_LEVEL,CASH_BENCHMARK_ALLOCATION,FIXED_INCOME_BENCHMARK_ALLOCATION,DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION,INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION,...,YEAR_3_RETURNS,YEAR_5_RETURNS,YEAR_7_RETURNS,YEAR_10_RETURNS,SUPER_FEES,PENSION_FEES,MEMBER_AGE,RETIREMENT_AGE,TOTAL_FUNDS_INVESTED,NO_OF_CHURN
count,335999.000000,335999.000000,3.359990e+05,3.359990e+05,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,...,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,335999.000000,173283.000000
mean,-33.404683,147.003197,7.567173e+04,1.325001e+05,3.552650,3.724856,5.779464,18.804290,22.568660,20.696622,...,4.321870,4.424733,5.096243,5.514078,0.435283,0.390777,41.508004,23.491996,1.619166,1.200758
std,5.489225,6.530094,4.529362e+05,3.072611e+05,0.634828,0.649316,3.540516,7.122544,9.566975,8.842133,...,0.735335,1.538131,1.785084,1.920739,0.166143,0.147392,10.385592,10.385592,0.665433,0.400569
min,-43.029400,114.613000,1.004000e+03,2.820000e+01,2.061111,2.171429,0.000000,8.928571,0.000000,0.000000,...,2.030000,1.540000,1.700000,1.700000,0.060000,0.060000,24.000000,6.000000,1.000000,1.000000
25%,-37.066700,145.130000,2.884000e+03,4.834100e+03,3.000000,3.222222,3.720000,13.000000,17.000000,16.000000,...,4.090000,4.070000,5.030000,5.290000,0.450000,0.400000,33.000000,14.000000,1.000000,1.000000
50%,-34.307500,147.716700,4.825000e+03,2.994800e+04,3.500000,3.800000,5.000000,17.000000,25.000000,24.607692,...,4.540000,4.520000,5.150000,5.520000,0.510000,0.440000,41.000000,24.000000,2.000000,1.000000
75%,-30.750000,151.070900,9.193000e+03,1.235208e+05,4.000000,4.028571,7.000000,23.888000,28.000000,26.571429,...,4.850000,4.860000,5.240000,5.740000,0.530000,0.480000,51.000000,32.000000,2.000000,1.000000
max,-10.585000,153.616700,5.031195e+06,2.280850e+06,5.150000,6.000000,20.640000,42.000000,50.833333,40.248148,...,5.980000,8.980000,9.740000,9.920000,0.600000,0.600000,59.000000,41.000000,3.000000,2.000000

In [15]:
df.isnull().sum()

MEMBER_ID                                                0
MEMBER_NAME                                              0
MEMBER_EMPLOYMENT                                        0
MEMBER_GENDER                                            0
MEMBER_CITY_TOWN                                         0
MEMBER_STATE                                             0
MEMBER_CONTACT_VERIFIED                                  0
FUND_ID                                                  0
CHURN_REASON                                             0
LATITUDE                                                 0
LONGITUDE                                                0
COUNTRY                                                  0
COUNTRYCODE                                              0
CAPITAL                                                  0
POPULATION                                               0
FUND_TOTAL_ASSETS                                        0
FUND_RETURN_TARGET_PERCENTAGE                            0
INVESTMENT_RISK_LEVEL                                    0
INVESTMENT_RISK_CATEGORY                                 0
CASH_BENCHMARK_ALLOCATION                                0
FIXED_INCOME_BENCHMARK_ALLOCATION                        0
DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION              0
INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION         0
UNLISTED_EQUITY_BENCHMARK_ALLOCATION                     0
EQUITY_BENCHMARK_ALLOCATION                              0
PROPERTY_BENCHMARK_ALLOCATION                            0
INFRA_BENCHMARK_ALLOCATION                               0
COMMODITIES_BENCHMARK_ALLOCATION                         0
OTHERS_BENCHMARK_ALLOCATION                              0
FUND_RISK_LEVEL                                          0
FUND_RISK_CATEGORY                                       0
NEG_NETRETURN_SINCE_INCEPTION                            0
YEAR_1_RETURNS                                           0
YEAR_3_RETURNS                                           0
YEAR_5_RETURNS                                           0
YEAR_7_RETURNS                                           0
YEAR_10_RETURNS                                          0
SUPER_FEES                                               0
PENSION_FEES                                             0
CHURN_FLAG                                               0
MEMBER_AGE                                               0
INVESTMENT_AGE_GROUP                                     0
RETIREMENT_AGE                                           0
RETIREMENT_AGE_GROUP                                     0
TOTAL_FUNDS_INVESTED                                     0
NO_OF_CHURN                                         162716
MEMBER_DOB_DT                                            0
ALLOCATION_DT                                            0
CHURN_DT                                                 0
RETIREMENT_DT                                            0
dtype: int64