# Use SUPER_ANNU_Template customized Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

In [2]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [3]:
table_name = 'MEMBER_FUNDS_ENRICHED_DETAILS'
sf_df = my_session.sql("select * from {}".format(table_name))
df = sf_df.to_pandas()

In [4]:
df.shape

(335999, 50)

In [5]:
df.head(20)

,MEMBER_ID,MEMBER_NAME,MEMBER_EMPLOYMENT,MEMBER_GENDER,MEMBER_CITY_TOWN,MEMBER_STATE,MEMBER_CONTACT_VERIFIED,FUND_ID,CHURN_REASON,LATITUDE,...,MEMBER_AGE,INVESTMENT_AGE_GROUP,RETIREMENT_AGE,RETIREMENT_AGE_GROUP,TOTAL_FUNDS_INVESTED,NO_OF_CHURN,MEMBER_DOB_DT,ALLOCATION_DT,CHURN_DT,RETIREMENT_DT
0,MID233585,Viola Nabours,Edith Cowan University,Male,Adelaide,South Australia,Y,FID000117,HIGH TRANSACTION FEE,-34.9275,...,36,Middle-aged,29,MORE_THAN_10_YEAR,2,1.0,1988-06-21,2001-03-26,2008-07-03,2053-06-21
1,MID234174,James Gillian,La Trobe University,Male,Sydney,New South Wales,N,FID000074,NO REASON IDENTIFIED,-33.8678,...,42,Middle-aged,23,MORE_THAN_10_YEAR,2,1.0,1982-09-30,2002-09-05,2008-07-09,2047-09-30
2,MID233455,Rima Jacobos,The University of Notre Dame Australia,Male,Esperance,Western Australia,N,FID000124,NO REASON IDENTIFIED,-33.8611,...,49,Middle-aged,16,MORE_THAN_10_YEAR,3,2.0,1975-06-10,2004-07-02,2009-12-12,2040-06-10
3,MID233456,Cammy Semidey,James Cook University,Male,Goonellabah,New South Wales,Y,FID000101,HIGH ACCOUNT FEE,-28.8167,...,43,Middle-aged,22,MORE_THAN_10_YEAR,2,1.0,1981-01-31,2002-06-08,2007-04-23,2046-01-31
4,MID233462,Elouise Kolmetz,University of Southern Queensland,Male,Albury,New South Wales,Y,FID000186,FUND REPUTATION DECLINING,-36.0806,...,39,Middle-aged,26,MORE_THAN_10_YEAR,2,1.0,1985-07-06,2002-09-12,2008-12-14,2050-07-06
5,MID233467,Antione Miceli,Bond University,Male,Pearcedale,Victoria,Y,FID000024,NO REASON IDENTIFIED,-38.2030,...,41,Middle-aged,24,MORE_THAN_10_YEAR,2,1.0,1983-06-08,2004-01-20,2008-04-14,2048-06-08
6,MID233470,Franklyn Montezuma,The University of Western Australia,Male,San Remo,Victoria,Y,FID000067,HIGH ACCOUNT FEE,-38.5167,...,35,Middle-aged,30,MORE_THAN_10_YEAR,3,2.0,1989-04-13,2002-06-08,2009-05-17,2054-04-13
7,MID233472,Lashaunda Claucherty,The University of Newcastle,Male,Maryborough,Victoria,Y,FID000019,FUND REPUTATION DECLINING,-37.0500,...,48,Middle-aged,17,MORE_THAN_10_YEAR,2,1.0,1976-07-17,2003-12-06,2009-12-13,2041-07-17
8,MID233475,Tegan Bachman,Flinders University,Male,Tahmoor,New South Wales,Y,FID000040,LIFE EVENT,-34.2242,...,45,Middle-aged,20,MORE_THAN_10_YEAR,2,1.0,1979-04-30,2003-08-26,2006-09-24,2044-04-30
9,MID233477,Jess Claucherty,The University of Queensland,Male,Katoomba,New South Wales,N,FID000025,FUND REPUTATION DECLINING,-33.7100,...,31,Middle-aged,34,MORE_THAN_10_YEAR,2,1.0,1993-10-04,2004-10-14,2008-07-07,2058-10-04
10,MID233483,Yuki Chickering,University of Technology Sydney,Male,Young,New South Wales,N,FID000119,FUND REPUTATION DECLINING,-34.3000,...,26,Young,39,MORE_THAN_10_YEAR,2,1.0,1998-08-21,2003-12-27,2008-06-28,2063-08-21
11,MID233486,Leota Butzen,Monash University,Male,Kyabram,Victoria,N,FID000067,HIGH ACCOUNT FEE,-36.3167,...,44,Middle-aged,21,MORE_THAN_10_YEAR,2,1.0,1980-06-27,2002-07-03,2008-11-23,2045-06-27
12,MID233490,Bulah Inouye,The University of Western Australia,Male,Clifton Springs,Victoria,Y,FID000134,NO REASON IDENTIFIED,-38.1500,...,52,Senior,13,MORE_THAN_10_YEAR,2,1.0,1972-06-14,2003-05-27,2006-10-28,2037-06-14
13,MID233500,Junita Iturbide,Avondale University,Male,Dandenong,Victoria,Y,FID000020,HIGH TRANSACTION FEE,-37.9810,...,35,Middle-aged,30,MORE_THAN_10_YEAR,3,2.0,1989-11-14,2005-02-24,2007-02-24,2054-11-14
14,MID233501,Taryn Bilden,Monash University,Male,Corowa,New South Wales,N,FID000112,FUND REPUTATION DECLINING,-35.9833,...,49,Middle-aged,16,MORE_THAN_10_YEAR,2,1.0,1975-05-09,2005-08-03,2006-02-20,2040-05-09
15,MID233502,Devorah Kohl,Victoria University,Male,Deloraine,Tasmania,N,FID000137,HIGH TRANSACTION FEE,-41.5333,...,33,Middle-aged,32,MORE_THAN_10_YEAR,2,1.0,1991-03-17,2001-07-22,2007-05-21,2056-03-17
16,MID233503,Portia Fredicks,Avondale University,Male,Penrith,New South Wales,Y,FID000120,FUND REPUTATION DECLINING,-33.7511,...,44,Middle-aged,21,MORE_THAN_10_YEAR,3,2.0,1980-02-25,2000-10-08,2008-11-04,2045-02-25
17,MID233505,Joseph Timenez,Edith Cowan University,Male,Numurkah,Victoria,N,FID000109,FUND REPUTATION DECLINING,-36.0833,...,27,Young,38,MORE_THAN_10_YEAR,3,2.0,1997-03-29,2004-07-27,2008-10-29,2062-03-29
18,MID233509,Salome Hirpara,Monash University,Male,Narooma,New South Wales,N,FID000118,HIGH TRANSACTION FEE,-36.2000,...,46,Middle-aged,19,MORE_THAN_10_YEAR,2,1.0,1978-06-21,2002-07-21,2010-01-17,2043-06-21
19,MID233510,Ettie Pinilla,Bond University,Male,Central Coast,New South Wales,N,FID000152,NO REASON IDENTIFIED,-33.3000,...,50,Senior,15,MORE_THAN_10_YEAR,2,1.0,1974-07-22,2003-08-08,2007-12-24,2039-07-22

In [6]:
no_investments = dict(df.groupby("MEMBER_ID")["MEMBER_ID"].count())

In [7]:
import matplotlib.pyplot as plt
import numpy as np

In [8]:
fig = plt.figure(figsize = (10, 5))

plt.bar(cat, val, color ='maroon', 
        width = 0.4)

plt.xlabel("Number_of_Funds")
plt.ylabel("Members")
plt.title("No. of funds Bifercation")
plt.show()

NameError: name 'cat' is not defined

In [9]:
list(no_investments.values()).count(1)

160656

In [10]:
df.columns

Index(['MEMBER_ID', 'MEMBER_NAME', 'MEMBER_EMPLOYMENT', 'MEMBER_GENDER',
       'MEMBER_CITY_TOWN', 'MEMBER_STATE', 'MEMBER_CONTACT_VERIFIED',
       'FUND_ID', 'CHURN_REASON', 'LATITUDE', 'LONGITUDE', 'COUNTRY',
       'COUNTRYCODE', 'CAPITAL', 'POPULATION', 'FUND_TOTAL_ASSETS',
       'FUND_RETURN_TARGET_PERCENTAGE', 'INVESTMENT_RISK_LEVEL',
       'INVESTMENT_RISK_CATEGORY', 'CASH_BENCHMARK_ALLOCATION',
       'FIXED_INCOME_BENCHMARK_ALLOCATION',
       'DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION',
       'UNLISTED_EQUITY_BENCHMARK_ALLOCATION', 'EQUITY_BENCHMARK_ALLOCATION',
       'PROPERTY_BENCHMARK_ALLOCATION', 'INFRA_BENCHMARK_ALLOCATION',
       'COMMODITIES_BENCHMARK_ALLOCATION', 'OTHERS_BENCHMARK_ALLOCATION',
       'FUND_RISK_LEVEL', 'FUND_RISK_CATEGORY',
       'NEG_NETRETURN_SINCE_INCEPTION', 'YEAR_1_RETURNS', 'YEAR_3_RETURNS',
       'YEAR_5_RETURNS', 'YEAR_7_RETURNS', 'YEAR_10_RETURNS', 'SUPER_FEES',
       'PENSION_FEES', 'CHURN_FLAG', 'MEMBER_AGE', 'INVESTMENT_AGE_GROUP',
       'RETIREMENT_AGE', 'RETIREMENT_AGE_GROUP', 'TOTAL_FUNDS_INVESTED',
       'NO_OF_CHURN', 'MEMBER_DOB_DT', 'ALLOCATION_DT', 'CHURN_DT',
       'RETIREMENT_DT'],
      dtype='object')

In [11]:
df.iloc[0]

MEMBER_ID                                                        MID233585
MEMBER_NAME                                                  Viola Nabours
MEMBER_EMPLOYMENT                                   Edith Cowan University
MEMBER_GENDER                                                         Male
MEMBER_CITY_TOWN                                                  Adelaide
MEMBER_STATE                                               South Australia
MEMBER_CONTACT_VERIFIED                                                  Y
FUND_ID                                                          FID000117
CHURN_REASON                                          HIGH TRANSACTION FEE
LATITUDE                                                          -34.9275
LONGITUDE                                                            138.6
COUNTRY                                                          Australia
COUNTRYCODE                                                             AU
CAPITAL                                                              admin
POPULATION                                                         1295714
FUND_TOTAL_ASSETS                                                 126670.6
FUND_RETURN_TARGET_PERCENTAGE                                     4.158824
INVESTMENT_RISK_LEVEL                                                  3.9
INVESTMENT_RISK_CATEGORY                                       Medium-High
CASH_BENCHMARK_ALLOCATION                                              3.0
FIXED_INCOME_BENCHMARK_ALLOCATION                                     13.0
DOMESTIC_LISTED_EQUITY_BENCHMARK_ALLOCATION                        27.1875
INTERNATIONAL_LISTED_EQUITY_BENCHMARK_ALLOCATION                   26.8125
UNLISTED_EQUITY_BENCHMARK_ALLOCATION                                   3.0
EQUITY_BENCHMARK_ALLOCATION                                            0.0
PROPERTY_BENCHMARK_ALLOCATION                                          8.0
INFRA_BENCHMARK_ALLOCATION                                             6.0
COMMODITIES_BENCHMARK_ALLOCATION                                       0.0
OTHERS_BENCHMARK_ALLOCATION                                           13.0
FUND_RISK_LEVEL                                                        3.9
FUND_RISK_CATEGORY                                             Medium-High
NEG_NETRETURN_SINCE_INCEPTION                                       2 to 3
YEAR_1_RETURNS                                                        6.64
YEAR_3_RETURNS                                                        4.62
YEAR_5_RETURNS                                                        4.14
YEAR_7_RETURNS                                                        5.21
YEAR_10_RETURNS                                                       5.44
SUPER_FEES                                                            0.53
PENSION_FEES                                                          0.41
CHURN_FLAG                                                               Y
MEMBER_AGE                                                              36
INVESTMENT_AGE_GROUP                                           Middle-aged
RETIREMENT_AGE                                                          29
RETIREMENT_AGE_GROUP                                     MORE_THAN_10_YEAR
TOTAL_FUNDS_INVESTED                                                     2
NO_OF_CHURN                                                            1.0
MEMBER_DOB_DT                                                   1988-06-21
ALLOCATION_DT                                                   2001-03-26
CHURN_DT                                                        2008-07-03
RETIREMENT_DT                                                   2053-06-21
Name: 0, dtype: object